<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zly.module.b"
    android:sharedUserId="${SHARE_USER_ID}">

    <application
        android:name="com.zly.judy.lib.AloneRunApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TestActivity"
            android:label="模块B 测试"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
