<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zly.module.b">

    <application>
        <activity
            android:name=".FragmentDemoActivity"
            android:label="模块B 显示模块A中Fragment" />
        <activity
            android:name=".CallAppActivity"
            android:label="模块B CallApp" />
        <activity
            android:name=".activity.ModuleBModelActivity"
            android:label="模块B 查询用户余额" />
    </application>
</manifest>
